<%= javascript_include_tag 'application' %>
<div id="data-viz">
  <div class="container">
    <h2>Pick Up requests</h2>
    <div id="left-col">
      <h3>
        <%= Circulation::PickUpRequest.format_date_range %>
      </h3>
      <%= bar_chart Circulation::PickUpRequest.gather_data, stacked: true %>
    </div>
    <div id="right-col">
      <h3>
        <%= Circulation::PickUpRequest.format_date_range(date_range: 5.weeks.ago.beginning_of_week..5.weeks.ago.end_of_week) %>
      </h3>
      <%= bar_chart Circulation::PickUpRequest.gather_data(date_range: 5.weeks.ago.beginning_of_week..5.weeks.ago.end_of_week), stacked: true %>
    </div>
  </div>
  <div class="container">
    <h2>Seats Requests</h2>
    <% range = 6.weeks.ago.beginning_of_week..6.weeks.ago.end_of_week %>
    <h3>
      <%= Circulation::PickUpRequest.format_date_range(date_range: range) %>
    </h3>
    <%= column_chart Circulation::SeatsRequest.gather_data(date_range: range), stacked: true, library: { scales: {xAxes: [{ barThickness: 40}]}} %>
  </div>
  <div class="container">
    <% data = Circulation::SeatsRequest.gather_status_data(date_range: range)%>
    <%= bar_chart data, stacked: true, colors: Circulation::SeatsRequest.colors_for_status_data(data: data)  %>
  </div>
</div>
<h2>Data</h2>
<ul>
  <% resources.each do |resource| %>
    <li>
      <%= link_to resource.resource_name.human, "/admin/#{resource.resource_name.param_key.pluralize}" %>
    </li>
  <% end %>
</ul>
